.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  > div {
    margin-right: 40px;
    margin-bottom: 40px;
    &:last-child {
      margin-right: 0;
    }
  }
}