.kappa {
  width: auto;
  height: 55%;
  animation: rotation 8s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.label {
  font-size: 11px;
  fill: #fff;
}