@import "./colors.scss";

:global {
  html {
    box-sizing: border-box;
    font-family: FedraSans, 'sans-serif';
    color: #333333;
    font-size: 14px;
    background: #fff;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  *:focus {
    outline: none;
  }

  body {
    margin: 0;
  }

  h2 {
    text-align: center;
  }

  .app-container {
    padding: 20px;
  }

  a,
  button {
    user-select: none;
  }
}