@import "./colors.scss";

:global {
  html {
    box-sizing: border-box;
    font-family: FedraSans, 'sans-serif';
    font-size: 14px;
    background: #f1f1f1;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  *:focus {
    outline: none;
  }

  html,
  body,
  #root,
  .app-container {
    height: 100%;
    width: 100%;
  }

  .bar-1 {
    background-color: rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 144px;
  }

  body {
    margin: 0;
  }

  .app-container {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  a,
  button {
    user-select: none;
  }
}