.barChartContainer {
  display: flex;
}

.overflow {
  width: 100%;
  flex: 1;
  overflow-x: auto;
}

.barChart {
  display: inline-flex;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.tick {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  height: 1px;
  width: 100%;
  line-height: normal;
  padding-right: 10px;
}
