.barContainer {
  border-right: 1px solid;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  &:last-child {
    border-right: none;
  }
}

.bar {
  position: relative;
  text-align: center;
  width: 92%;
  min-height: 1px;
  &:hover {
    .interactiveTooltip {
      opacity: 1;
      transform: translate(-50%, -100%) scale(1);
    }
  }
}

.interactiveBars {
  cursor: pointer;
}

.interactiveTooltip {
  opacity: 0;
  font-size: 11px;
  color: #fff;
  top: -10px;
  left: 50%;
  position: absolute;
  padding: 4px 8px;
  transform: translate(-50%, -100%) scale(0);
  border-radius: 6px;
  transition: all 200ms ease;
}

.triangle {
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translate(-50%, 100%);
  border: 6px solid transparent;
  border-top: 6px solid;
}

.tooltip {
  font-size: 11px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltipAboveBar {
  color: #333333;
  transform: translateY(-100%);
}

.label {
  color: #9da3aa;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
  left: 0;
  bottom: 0;
  position: absolute;
  transform: translateY(100%);
}