.barContainer {
  border-right: 1px solid;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  &:last-child {
    border-right: none;
  }
}

.bar {
  position: relative;
  text-align: center;
  width: 92%;
  min-height: 1px;
}


.interactiveBars {
  cursor: pointer;
}

.interactiveTooltip {
  pointer-events: none;
  opacity: 0;
  font-size: 11px;
  color: #fff;
  top: -10px;
  left: 50%;
  position: absolute;
  padding: 4px 8px;
  transform: translate(-50%, -100%) scale(0);
  border-radius: 6px;
  transition: all 200ms ease;
}

.tooltip {
  font-size: 11px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltipAboveBar {
  color: #333333;
  transform: translateY(-100%);
}

.label {
  color: #9da3aa;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
  left: 0;
  bottom: 0;
  position: absolute;
  transform: translateY(100%);
}

.stackBar {
  border-right: 1px solid;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  &:last-child {
    border-right: none;
  }
  .barContainer {
    border-right: none;
    height: auto;
  }
}
