.yScale {
  position: absolute;
  z-index: 2;
  border-right: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #fff;
}

.yScaleLabel {
  color: #9da3aa;
  right: 0;
  display: flex;
  align-items: center;
  height: 1px;
  position: absolute;
  line-height: normal;
  padding-right: 10px;
}