.yScale {
  border-right: 1px solid;
  position: relative;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.yScaleLabel {
  color: #9da3aa;
  right: 0;
  display: flex;
  align-items: center;
  height: 1px;
  position: absolute;
  line-height: normal;
  padding-right: 10px;
}