.kappa {
  width: auto;
  height: 65%;
  animation: rotation 8s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: space-evenly;
  .chart {
    margin: 0 40px 40px 0;
    &:last-child {
      margin: 0 0 40px 0;
    }
    :global {
      .syrnikjs-donut-chart-legend,
      .syrnikjs-pie-chart-legend {
        width: 240px;
      }
    }
  }
}
