.lineChartContainer {
  display: flex;
  position: relative;
  svg {
    position: relative;
  }
}

.overflow {
  overflow-x: auto;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.point {
  cursor: pointer;
  z-index: 1;
  background-color: #fff;
  border-style: solid;
  border-radius: 50%;
  position: absolute;
}

.label {
  color: #9da3aa;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translate(-50%, 100%);
  position: absolute;
  bottom: 0;
}

.selected {
  color: green;
}
