.lineChartContainer {
  display: flex;
}

.overflow {
  width: 100%;
  flex: 1;
  overflow-x: auto;
}

.lineChart {
  display: inline-flex;
  svg {
    position: relative;
  }
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  border-right: 1px solid;
  border-bottom: 1px solid;
}