.horizontalTick {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  height: 1px;
  width: 100%;
  line-height: normal;
  padding-right: 10px;
}


.verticalTick {
  width: 1px;
  position: absolute;
}

.interactiveTooltip {
  pointer-events: none;
  opacity: 0;
  font-size: 11px;
  color: #fff;
  top: -8px;
  left: 50%;
  position: absolute;
  padding: 4px 8px;
  transform: translate(-50%, -100%) scale(0);
  border-radius: 6px;
  transition: all 200ms ease;
  &.right {
    transform: translate(15px, 0) scale(0);
    .triangle {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-100%, -50%);
      border-right: 6px solid;
    }
  }
}


.triangle {
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translate(-50%, 100%);
  border: 6px solid transparent;
  border-top: 6px solid;
}

.multiTooltip {
  pointer-events: none;
  opacity: 0;
  font-size: 11px;
  color: #fff;
  top: -10px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -100%) scale(0);
  border-radius: 6px;
  transition: all 200ms ease;
}


.multiTooltipItem {
  padding: 4px 8px;
  &:first-child {
    border-radius: 6px 6px 0 0;
  }
  &:last-child {
    border-radius: 0 0 6px 6px;
  }
}

.selected {
  opacity: 1;
  transform: translate(-50%, -100%) scale(1);
  &.right {
    transform: translate(15px, 0) scale(1);
  }
}
