.horizontalTick {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  height: 1px;
  width: 100%;
  line-height: normal;
  padding-right: 10px;
}


.verticalTick {
  width: 1px;
  position: absolute;
}