.legend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  margin: 0;
}

.item {
  display: flex;
  align-items: center;
  position: relative;
  transition: all 200ms ease;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
  &.interactiveLegend {
    cursor: pointer;
  }
}

.colorBlock {
  display: inline-block;
  border-radius: 4px;
  width: 24px;
  height: 24px;
}

.value {
  padding-left: 5px;
}


.label {
  padding-left: 5px;
}

.strike {
  opacity: 0.4;
  &:before {
    background-color: rgba(51, 51, 51, 0.8);
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
  }
}